USE [TSmartDB]
GO
/****** Object:  Table [dbo].[Analizler]    Script Date: 12/21/2025 10:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analizler](
	[AnalizID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Tarih] [nvarchar](20) NULL,
	[Bolgeler] [nvarchar](max) NULL,
	[Oneri] [nvarchar](max) NULL,
	[Hata] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AnalizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 12/21/2025 10:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](256) NOT NULL,
	[KayitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maclar]    Script Date: 12/21/2025 10:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maclar](
	[MacID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Tarih] [nvarchar](20) NULL,
	[Rakip] [nvarchar](100) NOT NULL,
	[Kulup] [nvarchar](100) NULL,
	[Skor] [nvarchar](20) NULL,
	[Sehir] [nvarchar](100) NULL,
	[Sonuc] [nvarchar](20) NULL,
	[Hata] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MacSilmeLog]    Script Date: 12/21/2025 10:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MacSilmeLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[MacID] [int] NULL,
	[RakipAdi] [nvarchar](100) NULL,
	[SilinmeTarihi] [datetime] NULL,
	[SilenKullanici] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Analizler] ON 

INSERT [dbo].[Analizler] ([AnalizID], [KullaniciID], [Tarih], [Bolgeler], [Oneri], [Hata]) VALUES (1, 1, N'2025-12-21', N'GÖVDE', N'Daha fazla antrenman!', NULL)
INSERT [dbo].[Analizler] ([AnalizID], [KullaniciID], [Tarih], [Bolgeler], [Oneri], [Hata]) VALUES (2, 1, N'2025-12-21', N'KAFA, GÖVDE, SAĞ KOL, SOL KOL, SAĞ BACAK, SOL BACAK', N'KAFA, GÖVDE, SAĞ KOL, SOL KOL, SAĞ BACAK, SOL BACAK bölgeleri için teknik antrenman sayısını artırın.', NULL)
INSERT [dbo].[Analizler] ([AnalizID], [KullaniciID], [Tarih], [Bolgeler], [Oneri], [Hata]) VALUES (3, 1, N'2025-12-21', N'KAFA, GÖVDE, SAĞ KOL, SOL KOL, SAĞ BACAK, SOL BACAK', N'KAFA, GÖVDE, SAĞ KOL, SOL KOL, SAĞ BACAK, SOL BACAK bölgeleri için teknik antrenman sayısını artırın.', NULL)
SET IDENTITY_INSERT [dbo].[Analizler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [KullaniciAdi], [Sifre], [KayitTarihi]) VALUES (1, N'Yigit Dogan', N'yigitdgn', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(N'2025-12-21T12:10:44.287' AS DateTime))
INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [KullaniciAdi], [Sifre], [KayitTarihi]) VALUES (4, N'Sistem Yoneticisi', N'admin', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', CAST(N'2025-12-21T19:45:51.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Maclar] ON 

INSERT [dbo].[Maclar] ([MacID], [KullaniciID], [Tarih], [Rakip], [Kulup], [Skor], [Sehir], [Sonuc], [Hata]) VALUES (2, 1, N'2025-12-21', N'Furkan', N'serktantok', N'9-13', N'buca', N'MAĞLUBİYET', N'Mesafe Hatası')
INSERT [dbo].[Maclar] ([MacID], [KullaniciID], [Tarih], [Rakip], [Kulup], [Skor], [Sehir], [Sonuc], [Hata]) VALUES (4, 1, N'2025-12-21', N'Ahmet', N'bosna hersek', N'10-10', N'izmir cigli Atatürk Spor Salonu', N'BERABERLİK', N'Refleks Zayıflığı')
INSERT [dbo].[Maclar] ([MacID], [KullaniciID], [Tarih], [Rakip], [Kulup], [Skor], [Sehir], [Sonuc], [Hata]) VALUES (5, 1, N'2025-12-21', N'Anil', N'buca spor', N'10-8', N'buca afet evleri spor salonu', N'MAĞLUBİYET', N'Mesafe Hatası')
SET IDENTITY_INSERT [dbo].[Maclar] OFF
GO
SET IDENTITY_INSERT [dbo].[MacSilmeLog] ON 

INSERT [dbo].[MacSilmeLog] ([LogID], [MacID], [RakipAdi], [SilinmeTarihi], [SilenKullanici]) VALUES (1, 3, N'furkan', CAST(N'2025-12-21T19:59:50.020' AS DateTime), N'Sistem')
SET IDENTITY_INSERT [dbo].[MacSilmeLog] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__5BAE6A75FCCEB1B1]    Script Date: 12/21/2025 10:45:46 PM ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[MacSilmeLog] ADD  DEFAULT (getdate()) FOR [SilinmeTarihi]
GO
ALTER TABLE [dbo].[MacSilmeLog] ADD  DEFAULT ('Sistem') FOR [SilenKullanici]
GO
ALTER TABLE [dbo].[Analizler]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Analiz] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Analizler] CHECK CONSTRAINT [FK_Kullanici_Analiz]
GO
ALTER TABLE [dbo].[Maclar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Mac] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Maclar] CHECK CONSTRAINT [FK_Kullanici_Mac]
GO
/****** Object:  StoredProcedure [dbo].[sp_GirisYap]    Script Date: 12/21/2025 10:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Giriş Yapma Prosedürü (Güvenlik için)
CREATE PROCEDURE [dbo].[sp_GirisYap]
    @Kadi NVARCHAR(50),
    @Sifre NVARCHAR(256)
AS
BEGIN
    SELECT KullaniciID, AdSoyad FROM Kullanicilar 
    WHERE KullaniciAdi = @Kadi AND Sifre = @Sifre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KayitOl]    Script Date: 12/21/2025 10:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 4. SAKLI YORDAMLAR (STORED PROCEDURES)
-- =============================================

-- Kayıt Olma Prosedürü (Gömülü Transaction Mantığı)
CREATE PROCEDURE [dbo].[sp_KayitOl]
    @Ad NVARCHAR(100),
    @Kadi NVARCHAR(50),
    @Sifre NVARCHAR(256)
AS
BEGIN
    BEGIN TRANSACTION; -- TRANSACTION Başlatma
    BEGIN TRY
        INSERT INTO Kullanicilar (AdSoyad, KullaniciAdi, Sifre)
        VALUES (@Ad, @Kadi, @Sifre);
        
        COMMIT TRANSACTION; -- İşlem başarılıysa onayla
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; -- Hata varsa her şeyi geri al
        THROW;
    END CATCH
END;
GO
/****** Object:  Trigger [dbo].[trg_MacSilindi]    Script Date: 12/21/2025 10:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 3. TETİKLEYİCİ (TRIGGER)
-- =============================================
-- Bir maç silindiğinde otomatik olarak log tablosuna yazar.
CREATE TRIGGER [dbo].[trg_MacSilindi]
ON [dbo].[Maclar]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO MacSilmeLog (MacID, RakipAdi)
    SELECT MacID, Rakip FROM deleted;
END;
GO
ALTER TABLE [dbo].[Maclar] ENABLE TRIGGER [trg_MacSilindi]
GO
